body{
    background-color: rgb(236, 226, 226);
}

main{
    font-family: "Quicksand";
    font-size: 1rem;
    margin-left: 1.25rem;
    margin-right: 2rem;
    margin-top: 2rem;
}

header{
    margin-right: -0.5rem;
    background-color: rgb(88, 84, 84);
}

.nav ul{
    top: 2rem
}

section{
    display: flex;
}

.about-info{
    padding-left: 2rem;
}

.about-info2{
    padding-left: 2rem;
}

.about-image{
    width: 42rem;
    height: 27rem;
    margin-top: 1rem;
    border: 0.125rem solid black;
}