header{
    margin-right: -0.5rem;
    background-color: rgba(100, 73, 58, 0.947);
}

body{
    background-color: rgb(236, 226, 226);
}

main{
    font-family: "Nunito";
    font-size: 1rem;
    margin-left: 1.25rem;
    margin-right: 2rem;
    margin-top: 2rem;
}

.menu{
    display: none;
    padding-bottom: 0.75rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.nav ul{
    top: 2rem
}

section{
    display: flex;
}

.about-info{
    padding-left: 2rem;
}

.about-info2{
    padding-left: 2rem;
}

.about-image{
    width: 42rem;
    height: 27rem;
    margin-top: 1rem;
    border: 0.125rem solid black;
}

/*Responsive Design - I included these designs in my wireframes
  My chosen screen sizes are: 457 x 815 for Mobile, 768 x 1024 for Tablet, and 1920 x 1080 for Desktop*/
  @media (max-width: 500px){
    .menu{
        display: block;
        margin-left: 24.5rem;
    }

    .close{
        display: none;
    }

    .nav{
        display: none;
    }

    .nav ul{
        flex-direction: column;
        margin-right: 31%;
        margin-top: 0;
        gap: 1.5rem;
        padding-top: 5rem;
        padding-left: 5rem;
        padding-right: 5rem;
        padding-bottom: 14.25rem;
        background-color: rgb(111, 82, 66);
        border-right: 3px solid black;
    }

    .about-image{
        width: 23rem;
        height: 13.5rem;
    }
}

@media (max-width: 768px){
    
    header{
        height: 20rem;
    }

    section{
        display: block;
    }

    .about-image{
        margin-left: 1rem;
    }
}