html{
    scrollbar-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    scrollbar-width: thin;
}

/*Styling for the nav menu*/
.nav ul{
    display: flex;
    flex-wrap: wrap;
    font-size: 1.25rem;
    list-style-type: none;
    justify-content: flex-end; 
    position: absolute;
    right: 4rem;
    top: 1rem;
    gap: 0.5rem;
}

.nav ul li{
    padding: 1rem;
}

.nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.nav ul li:hover{
    background: rgb(145, 177, 235);
}

.nav li.active{
    font-weight: bold;
    cursor: default;
}

.nav li.active:hover{
    font-weight: bold;
}
