.character-info ul li{
    list-style-type: none;
}

.character-image{
    width: 32rem;
    height: 30rem;
}

.character-image1{
    width: 32rem;
    height: 38rem;
}

.character-image2{
    width: 32rem;
    height: 32rem;
}

.character-name{
    padding-left: 2.5rem;
    padding-top: 2rem;
}

.list-title{
    font-weight: bold;
}

.list-item{
    padding-bottom: 1rem;
}

.quote{
    padding-left: 2.5rem;
}

section{
    display: flex;
}
