header{
    margin-right: -0.5rem;
    background-color: rgba(104, 84, 73, 1);
}

.nav ul{
    top: 2rem
}

body{
    background-color: rgb(236, 226, 226);
}

main{
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 2rem;
    font-family: "Nunito";
    font-size: 1.05rem;
}

.episode-container{
    display: flex;
}

.episode-info{
    padding-right: 3rem;
}

video{
    margin-top: 4rem;
    width: 40rem;
    height: 26rem;
}