header{
    margin-right: -0.5rem;
    background-color: rgba(100, 73, 58, 0.947);
}

.nav ul{
    top: 2rem
}

body{
    background-color: rgb(236, 226, 226);
}

h1{
    font-size: 2rem;
    text-align: center;
}

main{
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 2rem;
    font-family: "Nunito";
    font-size: 1.05rem;
}

.line{
    padding-bottom: 0.5rem;
}

.menu{
    display: none;
    padding-bottom: 0.75rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.episode-container{
    display: flex;
    margin-top: 3rem;
}

.episode-title{
    text-align: center;
}

.episode-info{
    margin-left: 3rem;
}

video{
    width: 35rem;
    height: 20rem;
    border-radius: 0.5rem;
}

.dv, .desc{
    text-align: center;
    margin-top: 5rem;
}

.desc2{
    text-align: center; 
}

.buttons{
    display: flex;
    margin-left: 45%;
    gap: 1rem;
}

#combine, #split{
    margin-top: 1rem;
    font-family: "Nunito";
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10%;
    padding: 0.5rem;
    background-color: rgb(247, 233, 0);
}

#combine:hover, #split:hover{
    cursor: pointer;
    background-color: white;

}

section, .graph{
    margin-left: 10rem;
    margin-right: 10rem;
    border-radius: 0.4rem;
    background-color: white;
    border: 0.125rem solid black;
}

svg{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

svg:hover{
    cursor: pointer;
}

text{
    font-weight: bold;
}

@media screen and (max-width: 600px){
    .dv, .desc, .desc2, section, .graph{
        display: none;
    }
}

@media screen and (max-width: 764px){
    .menu{
        display: block;
        margin-left: 85%
    }

    .close{
        display: none;
    }

    .nav{
        display: none;
    }

    .nav ul{
        flex-direction: column;
        margin-right: 20%;
        gap: 1.5rem;
        padding-top: 5rem;
        padding-left: 100rem;
        padding-right: 5rem;
        padding-bottom: 14.25rem;
        background-color: rgb(111, 82, 66);
        z-index: 2;
    }
}

@media screen and (max-width: 900px){
    .video2{
        display: none;
    }

    main{
        margin-left: 6rem;
        margin-right: 6rem;
    }
}

@media screen and (max-width: 1040px){
    header img{
        display: block;
        margin-top: 1rem;
        margin-left: auto;
        margin-right: auto;
    }

    header{
        height: 20rem;
    }
    
    .nav ul{
        margin-top: 13rem;
        font-size: 1rem;
        right: 5rem;
    }

    #button-container, .icons{
        margin-left: 42%;
    }
}

@media screen and (max-width: 1180px){
    .nav ul a{
        font-size: medium;
    }

    .graph, section{
        width: 130%;
    }

    svg{
        width: 100%;
        margin-left: -1rem;
    }
}

@media screen and (max-width: 1385px){
    .graph, section{
        margin-left: -5rem;
    }
}

@media screen and (max-width: 1400px){
    .episode-container{
        display: block;
    }

    video{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 100%;
        margin-bottom: 2rem;
    }

    .paragraphs{
        margin-left: -3rem;
    }
}