header{
    margin-right: -0.5rem;
    background-color: rgba(100, 73, 58, 0.947);
}

.nav ul{
    top: 2rem
}

body{
    background-color: rgb(236, 226, 226);
}

main{
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 2rem;
    font-family: "Nunito";
    font-size: 1.05rem;
}

.episode-container{
    display: flex;
}

.episode-info{
    padding-right: 3rem;
}

video{
    margin-top: 4rem;
    width: 40rem;
    height: 26rem;
}

.dv{
    text-align: center;
    margin-top: 5rem;
}

.desc{
    text-align: center;
}

.buttons{
    display: flex;
    margin-left: 45%;
    gap: 1rem;
}

#combine, #split{
    margin-top: 1rem;
    font-family: "Nunito";
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10%;
    padding: 0.5rem;
    background-color: rgb(247, 233, 0);
}

#combine:hover, #split:hover{
    cursor: pointer;
    background-color: white;

}

section, .graph{
    border: 0.125rem solid black;
    background-color: white;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-bottom: 5rem;
}

svg{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

svg:hover{
    cursor: pointer;
}

text{
    font-weight: bold;
}

/*Responsive Design*/
@media (max-width: 457px){
}

@media (max-width: 768px){
}
