html{
    margin-left: 2rem;
    margin-right: 2rem;
}

.art{
    display: flex;
    gap: 2rem;
    padding-bottom: 2rem;
}

.image1{
    width: 50rem;
    height: 40rem;
    padding-left: 7rem;
}

.image2{
    width: 25rem;
    height: 40rem;
}

.image3{
    width: 30rem;
    height: 40rem;
}

.image4{
    width: 50rem;
    height: 40rem;
    padding-left: 4rem;
}

.image5{
    width: 30rem;
    height: 42rem;
    padding-left: 10rem;
}

.image6{
    width: 38rem;
    height: 42rem;
}

.image7{
    width: 40rem;
    height: 40rem;
    padding-left: 9rem;
}

.image8{
    width: 30rem;
    height: 40rem;
}

.image9{
    width: 35rem;
    height: 40rem;
    padding-left: 9rem;
}

.image10{
    width: 35rem;
    height: 40rem;
}
