header{
    margin-right: -0.5rem;
    background-color: rgb(88, 84, 84);
}

.nav ul{
    top: 2rem
}

body{
    background-color: rgb(236, 226, 226);
}

main{
    margin-left: 9rem;
    margin-top: 2rem;
    font-family: "Quicksand";
    font-size: 1rem;
}

.art{
    display: flex;
    gap: 2rem;
    padding-bottom: 2rem;
}

.image1{
    width: 50rem;
    height: 30rem;
    box-shadow: 10px 5px 5px rgba(92, 91, 91, 0.33);
}

.image2{
    width: 22rem;
    height: 30rem;
    box-shadow: 10px 5px 5px rgba(92, 91, 91, 0.33);
}

.image3{
    width: 30rem;
    height: 40rem;
    box-shadow: 10px 5px 5px rgba(92, 91, 91, 0.33);
    margin-right: 10rem;
}

.image4{
    width: 50rem;
    height: 40rem;
    box-shadow: 10px 5px 5px rgba(92, 91, 91, 0.33);
}

.image5{
    width: 30rem;
    height: 42rem;
    box-shadow: 10px 5px 5px rgba(92, 91, 91, 0.33);
    margin-left: 3rem;
}

.image6{
    width: 38rem;
    height: 42rem;
    box-shadow: 10px 5px 5px rgba(92, 91, 91, 0.33);
}

.image7{
    width: 38rem;
    height: 38rem;
    box-shadow: 10px 5px 5px rgba(92, 91, 91, 0.33);
    margin-left: 2rem;
}

.image8{
    width: 30rem;
    height: 38rem;
    box-shadow: 10px 5px 5px rgba(92, 91, 91, 0.33);
}

.image9{
    width: 35rem;
    height: 40rem;
    box-shadow: 10px 5px 5px rgba(92, 91, 91, 0.33);
    margin-left: 2rem;
}

.image10{
    width: 35rem;
    height: 40rem;
    box-shadow: 10px 5px 5px rgba(92, 91, 91, 0.33);
}
