body{
    background-image: url("../images/Poster 3.jpg");
    background-size: cover;
}

main{
    font-family: "Nunito";
    font-size: 1.15rem;
}

#Message{
    text-align: center;
    color: white;
    padding-top: 2rem;
    font-weight: bold;
}

.menu{
    display: none;
    padding-left: 0rem;
    padding-right: 0rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.menu img{
    width: 50%;
    margin-top: 0rem;
}

footer{
    background-color: white;
    margin-top: 65%;
    height: 10rem;
    display: none;
}

footer p{
    color: black;
}

footer img:hover{
    animation: glow2 1s infinite alternate;
  }
  
  @keyframes glow2{
    from{
      box-shadow: 0 0 10px -10px #ffffff;
    }
    to{
      box-shadow: 0 0 10px 10px #ffffff;
    }
  }

/*@media screen and (min-width: 300px){
    body{
        background-image: url("../images/Responsive 2.jpg");
    }
    
    .logo img{
        width: 75%;
    }

    .nav{
        display: none;
    }


    .menu{
        display: block;
        margin-left: 80%;        
    }

    .close{
        display: none;
    }

    #Message, footer p{
        font-size: 0.5rem;
    }

    .icons{
        margin-left: 33%;
    }

   footer{
        display: block;
        height: 6rem;
    } 
}*/

@media screen and (min-width: 400px){
    
}

  /*@media (min-width: 500px){
    footer{
        display: block;
        height: 8rem;
    }

    .nav{
        display: none;
    }

    .nav ul{
        flex-direction: column;
        margin-right: 30%;
        margin-top: 0;
        gap: 1.5rem;
        padding-top: 5rem;
        padding-left: 5rem;
        padding-right: 5rem;
        padding-bottom: 14.25rem;
        background-color: rgb(15, 42, 61);
        border-right: 1px solid white;
    }

    #Message{
        margin-bottom: 10rem;
        font-size: 1rem;
    }

    .menu{
        display: block;
        margin-left: 24.5rem;
    }

    .close{
        display: none;
    }
}*/

/*@media (min-width: 768px){
    body{
        background-image: url("../images/Responsive 2.jpg");
    }

    .logo{
        display: block;
        margin-top: 1rem;
        margin-left: auto;
        margin-right: auto;
    }

    footer{
        display: block;
    }

    #Message{
        margin-top: 9rem;
    }
}*/

/*@media (min-width: 1000px){

    body{
        background-image: url("../images/Responsive.jpg");
    }

    .logo img{
        width: 25%;
        margin-top: 1rem;
    }

    .nav ul li a, .nav li.active{
        font-size: small;
    }

    .nav li.active{
        margin-top: 0.5rem;
    }

    #Message{
        margin-bottom: 10rem;
        font-size: 0.75rem;
    }

    footer{
        display: block;
    }
}*/