body{
    background-image: url("../images/Poster 3.jpg");
    background-size: cover;
}

section{
    display: flex;
    gap: 1rem;
}

.home-image{
    width: 45rem;
    height: 30rem;
}

.home-image1{
    width: 91rem;
    height: 55rem;
}

main{
    font-family: "Quicksand";
    font-size: 1.15rem;
}

#Message{
    text-align: center;
    color: white;
    padding-top: 2rem;
    font-weight: bold;
}

#Start{
    text-align: center;
}

#Start a{
    text-decoration: none;
    color: white;
}

#Start a:hover{
    color: rgb(142, 142, 142);
}