header{
    margin-right: -0.5rem;
    background-color: rgba(100, 73, 58, 0.947);
}

.nav ul{
    top: 2rem
}

body{
    background-color: rgb(236, 226, 226);
}

main{
    margin-left: 12rem;
    margin-right: 12rem;
    margin-top: 2rem;
    font-family: "Nunito";
    font-size: 1.1rem;
}

.menu{
    display: none;
    padding-bottom: 0.75rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

h1{
    text-align: center;
}

h2{
    margin-top: 4rem;
    text-align: center;
}

h4{
    margin-top: 0rem;
}

.essay h3{
    margin-top: 2rem;
}

.progress-container{
    width: 100rem;
    height: 0.5rem;
    margin-left: -3rem;
    position: fixed;
    top: 0;
    z-index: 99;
}

#progress-bar{
    height: 100%;
    background-color: rgba(104, 84, 73, 1);
}

.essay{
    margin-right: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: white;
    border: 0.125rem solid black;
    border-radius: 0.4rem;
}

.theory{
    margin-top: 4rem;
    padding-left: 2rem;
    padding-right: 3rem;
    padding-bottom: 2rem;
    background-color: white;
    border: 0.125rem solid black;
    border-radius: 0.4rem;
}

.heading, .up{
    margin-top: 1rem;
    text-align: center;
}

.essay img{
    border: 0.125rem solid black;
    border-radius: 0.4rem;
}

.theory-info{
    display: flex;
    padding-bottom: 1rem;
}

.info{
    margin-left: 2rem;
}

.info a, section a, p a, .references li a{
    color: rgb(116, 84, 5);
}

.image{
    width: 28rem;
    height: 15rem;
    border: 0.125rem solid black;
    border-radius: 0.4rem;
}

.side-by-side{
    display: flex;
    margin-left: -4rem;
    margin-bottom: 0.5rem;
}

figcaption{
    text-align: center;
}

.figure{
    width: 40rem;
    height: 20rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5rem;
}

.figure1{
    width: 20rem;
    height: 8rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5rem;
}

.figure2{
    width: 30rem;
    height: 8rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5rem;
}

.figure3{
    width: 30rem;
    height: 18rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5rem;
}

.figure4{
    width: 28.5rem;
    height: 16rem;
    display: block;
    margin-left: 2rem;
    margin-bottom: 1rem;
}

.figure5{
    width: 28rem;
    height: 8rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5rem;
}

.references{
    margin-left: -1rem;
}

.references li{
    margin-bottom: 1rem;
}

/*Responsive Design - I included these designs in my wireframes
  My chosen screen sizes are: 457 x 815 for Mobile, 768 x 1024 for Tablet, and 1920 x 1080 for Desktop*/
  @media (max-width: 500px){
    .menu{
        display: block;
        margin-left: 24.5rem;
    }

    .close{
        display: none;
    }

    .nav{
        display: none;
    }

    .nav ul{
        flex-direction: column;
        margin-right: 31%;
        margin-top: 0;
        gap: 1.5rem;
        padding-top: 5rem;
        padding-left: 5rem;
        padding-right: 5rem;
        padding-bottom: 14.25rem;
        background-color: rgb(111, 82, 66);
        border-right: 3px solid black;
    }

    main{
        margin-left: 1rem;
    }

    .essay{
        width: 22rem;
    }

    .theory-info, .desc, .reflection{
        width: 25rem;
    }

    .planning1{
        margin-left: 3rem;
    }
}

@media (max-width: 768px){
    header{
        height: 20rem;
    }

    h1{
        padding-left: 40%;
    }

    .theory-info{
        display: block;
    }

    .image, .figure, .figure1, .figure2, .figure3, .figure4, .figure5, .planning{
        width: 100%;
        height: 100%;
    }

    .side-by-side{
        display: block;
    }

    .planning, .essay{
        margin-left: 0rem;
    }

    .reflection{
        margin-left: 0rem;
        margin-right: 0rem;
    }
}


