header{
    margin-right: -0.5rem;
    background-color: rgba(100, 73, 58, 0.947);
}

.nav ul{
    top: 2rem
}

body{
    background-color: rgb(236, 226, 226);
}

main{
    margin-left: 12rem;
    margin-right: 12rem;
    margin-top: 2rem;
    font-family: "Nunito";
    font-size: 1.1rem;
}

.essay{
    margin-left: 6rem;
    margin-right: 6rem;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-bottom: 4rem;
    border-radius: 0.4rem;
    background-color: white;
    border: 0.125rem solid black;
}

.menu{
    display: none;
    padding-bottom: 0.75rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

h1{
    text-align: center;
}

h2{
    margin-top: 4rem;
    text-align: center;
}

.essay h4{
    color: rgb(15, 42, 61);
    margin-bottom: -0.5rem;
}

.essay p{
    margin-bottom: 2rem;
    line-height: 1.75rem;
}

.essay h3{
    margin-top: 2rem;
}

.progress-container{
    width: 100rem;
    height: 0.5rem;
    margin-left: -3rem;
    position: fixed;
    top: 0;
    z-index: 99;
}

#progress-bar{
    height: 100%;
    background-color: rgba(104, 84, 73, 1);
}

.theory{
    margin-bottom: 4rem;
    padding-left: 2rem;
    padding-right: 3rem;
    border-radius: 0.4rem;
    background-color: white;
    border: 0.125rem solid black;
}

.heading, .up{
    margin-top: 1rem;
    text-align: center;
}

.essay img{
    border: 0.125rem solid black;
    border-radius: 0.4rem;
}

.theory-info{
    display: flex;
    padding-bottom: 1rem;
}

.info{
    margin-left: 2rem;
}

.info a, section a, p a, .references li a{
    color: rgb(116, 84, 5);
}

.image{
    width: 28rem;
    height: 15rem;
    border: 0.125rem solid black;
    border-radius: 0.4rem;
}

.side-by-side{
    display: flex;
    margin-left: -4rem;
    margin-bottom: 0.5rem;
}

figcaption{
    text-align: center;
}

.figure{
    width: 40rem;
    height: 20rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5rem;
}

.figure1{
    width: 20rem;
    height: 8rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5rem;
}

.figure2{
    width: 30rem;
    height: 8rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5rem;
}

.figure3{
    width: 30rem;
    height: 18rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5rem;
}

.figure4{
    width: 25rem;
    height: 15rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

.figure5{
    width: 28rem;
    height: 8rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5rem;
}

.references{
    margin-left: -1rem;
}

.references li{
    margin-bottom: 1rem;
}

@media screen and (max-width: 500px){
    main{
        margin-left: 1rem;
    }

    .essay, .theory{
        margin-left: -5rem;
        width: 15rem;
    }
}

@media screen and (max-width: 764px){
    .menu{
        display: block;
        margin-left: 85%
    }

    .close{
        display: none;
    }

    .nav{
        display: none;
    }

    .nav ul{
        flex-direction: column;
        margin-right: 20%;
        gap: 1.5rem;
        padding-top: 5rem;
        padding-left: 100rem;
        padding-right: 5rem;
        padding-bottom: 14.25rem;
        background-color: rgb(111, 82, 66);
    }

    .references, .essay-r{
        display: none;
    }
}

@media screen and (max-width: 1040px){
    header img{
        display: block;
        margin-top: 1rem;
        margin-left: auto;
        margin-right: auto;
    }

    header{
        height: 20rem;
    }

    .nav ul{
        margin-top: 13rem;
        font-size: 1rem;
        right: 5rem;
    }

    #button-container, .icons{
        margin-left: 42%;
    }

    main{
        margin-left: 6rem;
        margin-right: 6rem;
    }
}

@media screen and (max-width: 1180px){
    .nav ul a{
        font-size: medium;
    }
}

@media screen and (max-width: 1200px){
    .theory-info{
        display: block;
    }

    .theory img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .theory h4{
        text-align: center;
    }

    .side-by-side{
        display: block;
    }
}

@media screen and (max-width: 1500px){
    .image, .figure, .figure1, .figure2, .figure3, .figure4, .figure5, .planning{
        width: 100%;
        height: 100%;
    }
}